body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding: 1rem;
  color: antiquewhite;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  height: 70vh;
  padding: 2rem;
  background: url('https://images.unsplash.com/photo-1602354949094-d4a7286c8f6b?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
  background-size: cover;
  color: white;
  padding-top: 20vh;
}

.hero h1{
  font-weight: bold;
  font-size: 6rem;
  margin-top: 100px;
}

.hero p{
  margin-top: -7vh;
  font-size: 3rem;
}

.artworks, .upload-artwork, .login, .register {
  padding: 2rem;
}

.artwork-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.artwork-card {
  border: 1px solid #ddd;
  padding: 1rem;
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.logoutBtn{
  background-color: #333;
  color: whitesmoke;
  padding: 0.3rem;
  border-radius: 7px;
  font-family: "Poiret One", sans-serif;
  box-shadow: none;
  text-shadow: none;
  border: none;
}
